MACHINE = "raspberrypi5"
DISTRO = "poky"
ENABLE_UART = "1"
DISABLE_SPLASH = "1"
PACKAGE_CLASSES ?= "package_ipk"
IMAGE_ROOTFS_EXTRA_SPACE = "4194304"

# ALSA audio support for USB microphones and speakers
MACHINE_FEATURES:append = " alsa"
