# Global owner
* @ahmedrezkgabr

# Backend
/backend/ @ahmedrezkgabr

# Yocto layer
/yocto/ @ahmedrezkgabr

# CI/CD
/.github/workflows/ @ahmedrezkgabr

# Documentation
/docs/ @ahmedrezkgabr
*.md @ahmedrezkgabr